doctype html
html(lang="en")
  head
    title= userpage
    script(type='text/javascript').
      
body

form(method="POST", action="/errorupdate" enctype="multipart/form-data")
 p ERROR FILE: <br>
 p Error:
   input(type="file", name="error_file", class="upload")
 input(type="submit", name = "errorupdata")
   
