doctype html
html(lang="en")
 head
  title= NEST
  meta(http-equiv='refresh',content=7 )      
  style(type='text/css').
   .center-field { background-color: rgb(20, 40, 52); border-style: solid; border-color:white;
    border-radius: 15px; position: absolute; margin-top: 5%; margin-left: 10vw; width: 80vw; height: 200px;
    color:white; text-align:center; 
   }
   a { float:right ; }
   
 body
  div(class="center-field")
    b Running:
    b= name
    br
    b= response_text
    a(href="/stop")
       button(type="button") STOP:  
  
    



