doctype html
html(lang="en")
  head
    title= userpage
    script(type='text/javascript').
      
body

form(method="POST", action="/error/")
 p ERROR DATA: <br>
  input(type="number",name="errdata")
  input(type="submit",value="update")    
